body{
    margin:0px;
    text-align: center;
    font-family: serif;
    
}

.navbutton {
    
   
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.navbutton:hover{
    background-color: rgb(82, 81, 80);
    transform: scale(1.1);
}
h1{
    font-size:3.5rem;
    margin: 50px auto 0 auto;
    color:#66bfbf;
    font-family: 'Pacifico', cursive;
    
}
nav {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 1;
    display: block;
    
}
.myinfo {
    text-align: justify; 
    padding-right: 20%; 
    padding-left: 20%; 
    word-spacing: 5px;

}
.profile
{
    padding-top: 50px;
}

.programmer{
    font-size: 2rem;
    position: relative;
}
.middle-container
{
  position: relative;
}

.bgdiv{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(58, 55, 55);
}

.mcontainer{
    height: 200px;
    width: 200px;
    background-color: red;
}
.bcontainer{
    height: 200px;
    width: 200px;
    background-color:blue;
}
.topcloud{
    position: absolute;
    height: 200px;
    width:15%;
    right: 300px;
    top: 50px;

}
.myphoto{
    height: 100%;
    width: 100%;
    
}
.bottomcloud{
    position: absolute;
    height: 120px;
    width:120px;
    left: 300px;
    bottom: 300px;
}


h3{
font-family: sans-serif;
color:#11999e;
}
h2{
    font-family: sans-serif;
    color: #66bfbf;
    font-weight: normal;
    text-align: center;
}
.skill-row{
width:50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 2;
}
.ux{
    width:25%;
    float:right;
   padding-left: 30px;
}
.coding{
    width:25%;
    float:left;
    padding-right: 30px;
}
.myphoto{
    width:13%
}

hr{
    border-style: dotted none none;
    width: 6%;
    border-width: 5px;
    color:#9da1a1;
    margin: 100px auto;
}

.bottom-container{
    background-color: #2e2e2e;
    margin-bottom: 0;
    padding: 25px;
    
}

.credit{
    margin-bottom: 0;
    color: #eaf6f6;
}


.linkedin{
    padding-right: 20px;
    color: #e9eded;
    text-decoration: none;
    
}

.linkedin:hover{
    color:rgb(168, 162, 162);
}

.website:hover{
    color: rgb(139, 138, 138);;
}
.twitter{
    padding: 20px;
    padding-left: 5px;
    color: #f9fcfc;
    text-decoration: none;
}

.twitter:hover{
    color: rgb(150, 147, 147);
    
}
.website{
    padding: 20px;
    padding-left: 5px;
    color: #f8fafa;
    text-decoration: none;
    
}

.contact-me{
    padding:0;
    margin-bottom: 0;
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}


.text {
    position:absolute;
    top: 50vh; 
    left: 50vw; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(214, 250, 241);
    font-size: 4vw; 
    font-weight:bold ;
    
}


.bgimg {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.bgimg img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}



   

.btn {
   
    background-color: rgb(10, 112, 130);
    border-radius: 6px;
    -moz-border-radius: 6px;  
    line-height: 0;
    color: #FFFFFF;
    padding: 13px; 
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
 }
 
.btn:hover {
    background-color: rgb(151, 41, 41);
    transform: scale(1.1);
    border-radius: 6px;
    border-radius: 6px;  
    line-height: 0;
    color: #f6f2f2;
    padding: 13px; 
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
  
}


.navbar {
    display: flex;
    justify-content: center;
}

.navbar .navbutton {
    margin: 0 10px;
}

.menu-toggle {
    display: none;
}

.menu-btn {
    padding: 10px; /* Adjust padding as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar.show {
        display: flex;
    }
     .profile {
        padding-top: 200px;
    }

    .menu-toggle {
        display: inline;
        margin-right: 10px;
    }

    .navbar.show .menu-toggle {
        display: none; 
    }

    .navbar.show .navbutton {
        margin: 10px 0; 
    }

    .navbar.show .navbutton:last-child {
        margin-bottom: 20px; 
    }
}

